<div class="container">
  <div class="header d-flex justify-content-between">
    <h1 class="text-primary"><%= User.model_name.human(count: 10) %></h1>
    <div class="actions">
      <%= link_to 'Add User', new_user_path, class: 'btn btn-primary sticky-button btn-lg' %>
    </div>
  </div>
</div>
