<div class="container">
  <%= render 'components/section_header', title: User.model_name.human(count: 2) do %>
    <div class="actions">
      <%= link_to 'Add User', new_user_invitation_path, class: 'btn btn-primary sticky-button btn-lg py-3' %>
    </div>
  <% end %>
</div>
