<a tabindex="0" role="button" data-html="<%= local_assigns[:html] %>"
             data-toggle="popover"
             data-trigger="focus"
             data-content='<%= content %>'>
  <i class="<%= icon_class %>" data-feather="<%= icon_name %>"></i>
</a>
