.logo {
  height: 4rem;
  width: 4rem;
  background-image: url("../images/logo1.svg");
  background-size: 90% 90%;
  background-position: center;
  background-repeat: no-repeat;
  -svg-mixer-fill: $primary;

  &.logo-large {
    height: 6rem;
    width: 6rem;
    background-image: url("../images/logo1.svg");
    background-size: 90% 90%;
    background-position: center;
    background-repeat: no-repeat;
    -svg-mixer-fill: $primary;
  }
}
